<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  

     
        <nav>
          <ul>
            <li><img src="../../../assets/Belle & Beau-logo.ico"  width="30%"></li>
            <li><a href="#home">Home</a></li>
            <li><a routerLink="service">Services</a></li>
            <li><a href="#about_us">About Us</a></li>
            <li><a href="#contact_us">Contact Us</a></li>
            <li><a routerLink="login">Login</a></li>
           
            <li style="margin-left: 400px;"><a> <span class="glyphicon glyphicon-user"></span> Profile</a>
              <ul >
                <li><a routerLink="customer">My Profile</a></li>
                <li><a routerLink="changePassword">Change Password</a></li>
                <li><a routerLink="signout">Sign Out</a></li>
                  
              </ul>
            </li>
          </ul>
        </nav>
    
      <router-outlet></router-outlet>
  </html>
  
  
 