<html>
 <head>
    <title> Login form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h2 style="text-align: center;">Change Password</h2>
        <hr class="line">
    <label for="uname"><b>Username:</b></label>
   <input type="text" formControlName="userName" [(ngModel)]="login.userId" [ngClass]="{'is-invalid': submitted && form.userName.errors}">
   <div *ngIf="(form.userName.touched || submitted)&& form.userName.errors" class="error">
      <div *ngIf="form.userName.errors.required" >**username is requried</div>
      
   </div>
  <label for="uname"><b>New Password:</b></label>
   <input type="password" formControlName="newPassword" [(ngModel)]="login.password" [ngClass]="{'is-invalid': submitted && form.newPassword.errors}">
   <div *ngIf="(form.newPassword.touched || submitted)&& form.newPassword.errors" class="error">
      <div *ngIf="form.newPassword.errors.required" >**password is required</div>
      <div *ngIf="form.newPassword.errors.minlength">**minilenght is 4</div>
      <div *ngIf="form.newPassword.errors.maxlength">maxlength is 12</div>
   </div>
    <label for="psw"><b>Confirm Password:</b></label>
    <input type="password" formControlName="confirmpassword"  [ngClass]="{'is-invalid': submitted && form.confirmpassword.errors}">
    <div *ngIf="(form.confirmpassword.touched || submitted)&& form.confirmpassword.errors" class="error">
      <div *ngIf="form.confirmpassword.errors.required" >**confirmPassword required</div>
      <div *ngIf="form.confirmpassword.errors.mustMatch">**password must match</div>
    </div>
    <button type="submit"  class="registerbtn" >ChangePassword</button>
  </div>
  
 
</form>

